	<script src="/components/jquery/dist/jquery.min.js"></script>
	<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/components/jcrop/js/jquery.Jcrop.min.js"></script>
	<script src="/components/plupload/js/plupload.dev.js"></script>
	<script src="/components/qiniu-js-sdk/src/qiniu.js"></script>
	<script src="/js/scripts.js"></script>
</body>
</html>